
*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  font-family: "Raleway", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .img {
    max-width: 100%;
  }

/* Encabezado*/
.header{
  margin-bottom: 106px;
}
.container {
  width: 100%;
  max-width: calc(1600px - 430px);
  margin: 0 auto;
}

.contenedor-principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:93px;
  margin-right: auto;
}
.menu-items-1{
  display: flex;
  gap: 50px;
}
.menu-items-2{
  display: flex;
  gap: 50px;
}
.email,
.phone{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.header-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.nav-1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  }
.nav-1:hover,
.nav-1:focus{
  color:#2196F3
}
.nav:active{
 color:#2196F3
}
.item:hover{
  background: #2196F3;
  cursor: pointer;
}
.items:hover{
  background: #2196F3;
  cursor: pointer;
}
.btn-principal,
.btn-principal:hover{
  background: #2196F3;
  cursor: pointer;
}

.background-container{
background: #2F303A;
border: 1px solid #000000;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 95px;
}
.boton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
}
.btn-principal {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: white
}
.details {
  margin-top: 95px;
}
.details-container {
  display: flex;
  gap: 30px;
}
.details-items{
  flex-basis: 100%;
}
.details-item-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 10px;
}
.details-item-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 94px;
  }
.servis-container {
  max-width: calc(1600px - 430px);
  margin-inline: auto;
}
.servis-items {
  display: flex;
  gap: 30px;
}
.servis-img {
  flex-basis: 100%;
}
.servis-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  margin-bottom: 55px;
}
.professions {
  margin-top: 188px;
}
.professions-container {
  display: flex;
  gap: 30px;
}
.professions-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
text-align: center;
color: #212121;
}
.professions-title-name {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
text-align: center;
color: #212121;
}
.jobs {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
text-align: center;
color: #757575;
}
.footer{
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
}
.footer-container{
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer-address{
  display: flex;
  flex-direction: column;
  max-width: 231px;
}
.footer-logo{ 
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
color: #2196F3;
}
.footer-location{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px; 
  color: #FFFFFF;  
}
.footer-email,
.footer-phone{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
}
/* estilos portafolio */
.products-header {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.products-items {
   display: flex;
   flex-grow: 1;
   margin-left: 142px;
   flex-wrap: wrap;
   gap: 30px;
   
}
.button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.products-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
.products-subtitle {
  font-family:'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.products-img {
  height: 375px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}
.products-container {
  margin-bottom: 82px;
}