*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
    font-family: "Raleway", "Roboto", sans-serif;
    margin: 0;
  }
  .img {
    max-width: 100%;
  }

/* Encabezado*/
.header-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-title-footer{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;
  margin: 215px;
  color: #2196f3;
}
.contenedor-principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 215px;
  max-width: 1166px;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:93px;
  margin-right: auto;
}
.menu-items-1{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.menu-items-2{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

 .logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
text-align: right;
color: #2196F3;
 } 

.nav-1{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
background-color: #FFFFFF;
}
.nav:hover,
.nav:focus{
  color:#2196F3
}
.nav:active{
 color:#2196F3
}
.item:hover{
  background: #2196F3;
  cursor: pointer;
}
.items:hover{
  background: #2196F3;
  cursor: pointer;
}
.btn-principal,
.btn-principal:hover{
  background: #2196F3;
  cursor: pointer;
}
.contact{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.fondo {
background: #2F303A;
border: 1px solid #000000;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 95px;
}
.details {
  margin-top: 95px;
}
.details-container {
  max-width: calc(1600px - 430px);
  margin: 0 auto;
  display: flex;
 gap: 30px;
}
.details-item-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 10px;
}
.details-item-description {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #757575;
margin-bottom: 94px;
}
.servis-container {
  max-width: calc(1600px - 430px);
  margin-inline: auto;
}
.servis-items {
  display: flex;
  gap: 30px;
}
.servis-img {
  flex-basis: 100%;
  /* object-fit: cover; */
}
.servis-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #212121;
margin-bottom: 55px;
}
.professions {
  margin-top: 188px;
}
.professions-container {
  max-width: calc(1600px - 430px);
  margin-inline: auto;
  display: flex;
  gap: 30px;
}
.professions-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
text-align: center;
color: #212121;
}
.professions-title-name {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
text-align: center;
color: #212121;
}
.jobs {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
text-align: center;
color: #757575;
}
.boton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parrafos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:30px ;

}
.images{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 33px;
  margin-bottom: 94px;
}
.ordenamiento{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 94px;
}
.fondo-1{
  background: #2F303A;
  height: 252px;
}
.ordenamiento-1{
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  
}
.titulo{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  margin-left: 215px;
  margin-bottom: 94px;
}

.main-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
}
.btn-principal {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: white
}

.subtittles {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #212121;
}
.text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.subsection {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.names {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}
.definition {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}
.location {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.item {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: black;
background: #2196F3;
}
.items{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: #212121;
}
.name-site{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.description{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.pointer{
  cursor: pointer;
}


 