*,
*::before,
*::after {
  box-sizing: border-box;
}


.body {
    font-family: "Raleway", "Roboto", sans-serif;
  }
.menu {
  background: #FFFFFF;
  height: 67px;
  width: 1600px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content:center;
  border: 1px solid #ECECEC;
}  
.menu-items {
  display: flex;
  justify-content:center;
  align-items: center;
}
.menu-items li {
  list-style: none;
  display: block;
}
.menu-items li a {
  text-decoration: none;
  display: block;
}
 .logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
text-align: right;
color: #2196F3;
 } 

.nav {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
background-color: #FFFFFF;
}
.nav:hover,
.nav:focus{
  color:#2196F3
}
.nav:active{
 color: #2196F3
}
.item:hover{
  background: #2196F3;
  cursor: pointer;
}
.items:hover{
  background: #2196F3;
  cursor: pointer;
}
.btn-principal,
.btn-principal:hover{
  background: #2196F3;
  cursor: pointer;
}
.contact{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.fondo {
background: #2F303A;
border: 1px solid #000000;
width: 1600px;
height: 522px;
}
.main-title {
display: flex;
justify-content: center;
align-content: center;
width: 696px;
height: 120px;
left: 448px;
top: 280px;
padding:50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
}
.btn-principal {
display:flex;
justify-content: center;
align-content: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: white
}
.parrafos {
display: flex;
justify-content: center;
align-content: center;
list-style: none;
width: 1170px;
height: 122px;
left: 214px;
top: 775px;
}
.subtittles {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #212121;
}
.text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.subsection {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.images { 
  display: flex;
}
.names {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}
.definition {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}
.location {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.item {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: black;
background: #2196F3;
}
.items{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: #212121;
}
.name-site{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.description{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.pointer{
  cursor: pointer;
}


 